/* Notes: F9CF93 , F9E4C8, FAEEE0, DBD0C0 */
/* F4F4F4, F0A500, CF7500, 000000 */
/* General */


html {
	scroll-behavior: smooth;
}

h1,h3 {
  color: #CF7500;
  font-family: Montserrat;
}


hr {
  border: dotted #000 6px;
  border-bottom: none;
  width: 4%;
  /* margin: 0 auto 0; */
}


/* Top Bar Menu */
.container-fluid {
  background-color: #fff;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  /* height: 160px; */
  background-color: #F4F4F4;
  transition: all 0.4s ease;
}

.shrink {
  height: 60px;
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 100;
}


/* Intro  */
.main-page {
  background-color: #CF7500;
  padding: 30px 0 30px 0;
  position: relative;
  margin-top: 80px;
}

.big-heading {
  color: #FFF;
  text-align: center;
  margin: 20px auto 20px auto;
  padding: 5% 5% 7% 5%;
  font-family: Montserrat;
}

.karwai {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 25px;
  right: 25px;
  position: absolute;
}

.holder {
  width: 1px;
  height: 315px;
  margin-left: 150px;
}

.btn {
  margin: 0 10px 30px;
}

.test {
  text-align: center;
}


/* About Me */
.about-me {
  padding-top: 10%;
  text-align: center;
  background-color: #000;
}

.desc2 {
  padding: 2% 15% 7% 15%;
  color: #fff;
}


.info-row {
  margin: 7% 15% 7% 15%;
}

.hackathon-img {
  width: 40%;
  float: right;
  margin-left: 30px;
}

.jesseca-img {
  width: 40%;
  float: left;
  margin-right: 30px;
}

.singing-img {
  width: 40%;
  float: right;
  margin-left: 30px;
}



/* Footer */
.connect-with-me {
  background-color: #000;
  color: #fff;
  text-align: center;
}

.copyright {
  margin-bottom: 0;
  font-size: 10px;
  padding-bottom: 1%;
  font-family: Montserrat;

}

.social-icon{
  color: #fff;
  margin: 20px 10px;
  font-size: 25px;
}


/* myWorld */
#testimonial {
  background-color: #000;
}

.carousel{
  margin-top: 60px;
}


/* Cards */
#details {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.card-details {
  padding: 3% 2%;
}

.image {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    margin-bottom: 10px;
}

.card{
  text-align: center;
}
